__pycache__*
assets/index.html
/data*
dynamodb_local_latest*
DynamoDBLocal*
input*
output*
secrets*
shared-local-instance.db
test/anku-history
test/emilka-parsing-error
test/katka-broken-csv
test/katka-data-entries.csv
test/katka-data-entries.csv.embedded
test/test-large

