__pycache__*
.env
.idea
assets/index.html
/data*
dynamodb_local_latest*
DynamoDBLocal*
input*
output*
secrets*
shared-local-instance.db
test/katka-cbs-action
test/chris-json-backticks
test/katka-og-long-recording
test/stepan-openai-servererror
