python-dotenv
# boto3
# botocore
# https://stackoverflow.com/questions/76414514/cannot-import-name-default-ciphers-from-urllib3-util-ssl-on-aws-lambda-us
requests==2.28.2
# urllib3<2
psycopg2-binary>=2.8
peewee